html
  head
    title public texting
    meta(name='description' content='public texting')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon-bubble.png')
  body
  .homebox
    a(href='/conversations/new') → start a new public conversation over text
    br
    br
    p open conversations
    ul.home 
    each conversation in conversations
      li
        a(href=conversation.path) #{conversation.title}
    brs
    br
    br
  p.homecredit3 by willis plummer and luiza dale
    br
    a.grey(href='https://github.com/willisplummer/public-texting' target='_blank') view source
