html
  head
    title public texting
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon.png')
  body
  .homebox
    a(href='/conversations/new') → start a new public conversation over text
    br
    br
    br
    br
    p open conversations
    ul 
    each conversation in conversations
      li
        a(href=conversation.path) #{conversation.title}
    br
    br
    br
    p.grey by willis plummer and luiza dale
    a.grey(href='https://github.com/willisplummer/public-texting') view source
