html
  head
    title SOME PUBLIC TEXT CONVOS
  body
    h1 SOME PUBLIC TEXT CONVOS
  ul
    each conversation in conversations
      li
        a(href=conversation.path) #{conversation.title}
  a(href='/conversations/new') start a conversation
  br
  br
  br
  br
  p (by willis plummer and luiza dale)
  a(href='https://github.com/willisplummer/public-texting') view source
