html
  head
    title public texting
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type= 'image/png', href='/assets/favicon.png')
  body
  .hometext
  a(href='/conversations/new') → start a new conversation over text
  br
  br
  ul
    each conversation in conversations
      li
        a(href=conversation.path) #{conversation.title}
  br
  br
  p made by willis plummer and luiza dale, a(href='https://github.com/willisplummer/public-texting') view source
