html
  head
    title public texting
    meta(name='description' content='public texting')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon-bubble.png')
  body  
   .homebox
     p  
      a(href='https://public-texting.herokuapp.com/') → start a new public conversation over text
     br
     p this is an experiment in publishing. you will text with someone via SMS and your conversation will be public (and updated live!) as you go, stamped onto a unique webpage. interview links appear on the homepage.
     br
     p note that you can only have ONE conversation at a time. when it's done you should text "DEACTIVATE" to disconnect from it. then you'll be able to start other chats.
     br
     form(action='/conversations', method='POST', target='blank')
       p
         | first user name: 
         input(type='text', name='first_user_name', value='', placeholder='your name')
         br
         br
         | first user phone number: 
         input(type='text', name='first_user_phone_number', value='', placeholder='+11234567890')
         br
         br
         | second user name: 
         input(type='text', name='second_user_name', value='', placeholder='their name')
         br
         br
         | second user phone number: 
         input(type='text', name='second_user_phone_number', value='', placeholder='+11234567890')
         br
         br
         input(type='submit', value='begin public texting')
     br
     br
     br
     .homecredit
      a.grey(href='https://public-texting.herokuapp.com/') go back or ask 
      a.grey(href='mailto:daleluiza@gmail.com') a question
