html
  head
    title Create a new conversation
  body
    h1 Create a new conversation
    form(action='/conversations', method='POST')
      p
        | first user name: 
        input(type='text', name='first_user_name', value='')
        | first user phone number: 
        input(type='text', name='first_user_phone_number', value='', placeholder='+11234567890')
        | second user name: 
        input(type='text', name='second_user_name', value='')
        | second user phone number: 
        input(type='text', name='second_user_phone_number', value='', placeholder='+11234567890')
      input(type='submit', value='Submit')
