*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, p {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: .05em;
    background: white;
}

.homebox {
    padding-top: 2em;
    padding-left: 2em;
    width: 60%;
}

.textbox {
    padding-top: 2.5em;
    position: absolute;
    left: 2em;
    top: 2em;
    width: 60%;
}

.creditbar {
    padding-top: 2em;
    padding-bottom: 3em;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 1em;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.left {
    height: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 1em;
    display: block;
    text-align: left;
    margin-left: 0;
    color: #333333;
}

.right {
    height: auto;
    width: 50%;
    padding-top: 0;
    padding-bottom: 1em;
    display: block;
    text-align: left;
    margin-left: 50%;
    color: dodgerblue;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 3.5em;
    margin: 0;
}

.left img {
    /* border: .2em solid darkgray; */
}

.right img {
    border-radius: 2.5em;
    /* border: .2em solid dodgerblue; */
}

.leftcredit {
    display: inline-block;
    position: relative;
    left: 0;
    text-align: left;
    color: #333333;
}

.rightcredit {
    display: inline-block;
    color: dodgerblue;
    position: absolute;
    left: 30%;
}

.grey {
    color: darkgray;
}

.homecredit {
    position: fixed;
    left: 2em;
    bottom: 2em;
    color: #333333;
}

.homecredit2 {
    position: absolute;
    top: 2em;
    right: 2em;
    color: #333333;
    z-index: 3;
}

.homecredit3 {
    position: fixed;
    left: 2em;
    bottom: 2em;
    color: #d3d3d3;
}

#dots {
    width: 2em;
    padding-top: .5em;
    padding-bottom: 2em;
    margin-left: 0;
}

.stamp {
    height: auto;
    font-size: .75em;
    display: inline-block;
    width: 100%;
    /* padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 1em;
    padding-right: 1em; */
    text-align: left;
    border-radius: 4em;
    color: #d3d3d3;
    padding-bottom: 0.1em;
}

.right.stamp {
    margin-left: 50%;
}

.left.stamp {
    margin-left: 0;

}

a.grey:link {
    color: #d3d3d3;
}

a.grey:visited {
    color: #d3d3d3;
}

/* unvisited link */
a:link {
    color: #333333;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #333333;
}

/* mouse over link */
a:hover {
    color: dodgerblue;
}

/* selected link */
a:active {
    color: dodgerblue;
}

input[type=submit] {
    margin: 0;
    border: #333333 .1em solid;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: .1em;
    background: #333333;
    color: white;
    text-transform: lowercase;
}

input[type=submit]:hover {
    border: dodgerblue .1em solid;
    background: dodgerblue;
    color: white;
}

input[type=text] {
    margin: 0;
    border: #333333 .1em solid;
    border-radius: 5em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: .1em;
    background: white;
    width: 10.25em;
}

@media only screen and (max-width: 768px) {

    .homebox {
        padding-top: 1em;
        padding-left: 1em;
        width: 90%;
    }

    .textbox {
        padding-top: 1em;
        position: absolute;
        left: 1em;
        top: 0;
        width: 90%;
    }

    .creditbar {
        padding-top: 0;
        padding-bottom: 2em;
        position: relative;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 1em;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
        background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
        background-image: -o-linear-gradient(rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
        background-image: linear-gradient(rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
        background-image: -ms-linear-gradient(rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%);
    }

    .rightcredit {
        display: inline-block;
        color: dodgerblue;
        position: absolute;
        left: 45%;
    }

    .right.stamp {
        margin-left: 45%;
        color: #d3d3d3;
    }

    .right {
        height: auto;
        width: 50%;
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
        text-align: left;
        margin-left: 45%;
        color: dodgerblue;
    }

    .homecredit {
        position: relative;
        left: 0;
        color: #d3d3d3;
    }

    .homecredit2 {
        position: absolute;
        top: 1em;
        right: 2em;
        color: #d3d3d3;
        z-index: 3;
    }

    .homecredit3 {
        position: fixed;
        left: 1em;
        bottom: 1em;
        color: #d3d3d3;
    }

    input[type=text] {
        margin-top: .5em;
    }

}


@media print {

    @page {
      size: letter landscape;
    }

    .homecredit2, .homecredit3 {
        display: none;
    }

    /* .stamp,
    .right.stamp,
    .left.stamp {
        display: none;
    } */

    .textbox {
        padding-top: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .rightcredit {
        left: 50%;
    }

    .creditbar {
        position: relative;
        background: transparent;
        padding-top: 0;
    }

    .right {
        width: 45%;
    }

    .right,
    .left,
    .leftcredit,
    .rightcredit  {
        color: black;
    }

    img {
        width: 100px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        border-radius: 0;
    }

    #dots {
        display: none;
    }

}
