*, html {
  margin: 0;
  padding: 0;
}

body, p {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .05em;
  background: white;
}

img.left {
  width: 100%;
  border-radius: 2em;
  border-radius: solid 2px dodgerblue;
}

img.right {
  width: 100%;
  border-radius: 2em;
  border-radius: solid 2px darkgray;
}

.homebox {
  padding-top: 2em;
  padding-left: 2em;
  width: 50%;
  /* text-transform: lowercase; */
}

.textbox {
  padding-top: 1.5em;
  position: absolute;
  left: 2em;
  top: 2em;
  width: 60%;
  height: 80%;
}

.creditbar {
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    position: fixed;
    z-index: 2;
    width: 60%;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.left {
  height: auto;
  width: 90%;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  text-align: left;
  margin-left:0;
  background-color: darkgray;
  color: white;
  border-radius: 2em;
  margin-bottom: 1em;
}

.right {
  height: auto;
  width: 50%;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: block;
  text-align: left;
  margin-left: 40%;
  background-color: dodgerblue;
  color: white;
  border-radius: 2em;
  margin-bottom: 1em;
}

.leftcredit {
  display: inline-block;
  position: relative;
  left: 0;
  text-align: left;
  color: darkgrey;
  /* text-transform: lowercase; */
}

.grey {
  color: darkgray;
}

a.grey:link {
  color: darkgray;
}

a.grey:visited {
  color: darkgray;
}

.rightcredit {
  margin-left: 32%;
  display: inline-block;
  color: dodgerblue;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

input[type=submit] {
  margin: 0;
  border: black .1em solid;
  border-radius: 5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
  background: black;
  color: white;
  /* text-transform: lowercase; */
}

input[type=submit]:hover {
  border: blue .1em solid;
  background: blue;
  color: white;
}

input[type=text] {
  margin: 0;
  border: black .1em solid;
  border-radius: 5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
  background: white;
  width: 10em;
}

@media screen and (max-width: 700px) {
    .textbox {
      padding-top: 1em;
      position: absolute;
      left: 1em;
      width: 90%;
      height: 80%;
    }

  .homebox {
    width: 98%;
  }
}
