*, html {
  margin: 0;
  padding: 0;
}

body, p {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
  background: white;
}

ul.home {
  margin-block-start: -.9em;
}

.homebox {
  padding-top: 2em;
  padding-left: 2em;
  width: 50%;
  text-transform: lowercase;
}

.textbox {
  padding-top: 1em;
}

.left {
  margin: 0 auto;
  height: auto;
  width: 45%;
  padding: 0.4em;
  margin-right: 25em;
  display: block;
  text-align: left;
  /* border: 1px solid black; */
}

.right {
  margin: 0 auto;
  height: auto;
  width: 45%;
  padding: 0.4em;
  display: block;
  margin-left: 25em;
  text-align: right;
  /* border: 1px solid black; */
}

.leftcredit {
  padding: 1em;
  position: fixed;
  bottom: 1em;
  left: 1em;
  display: inline;
  text-align: left;
  text-transform: lowercase;
}

.grey {
  color: darkgray;
}

a.grey:link {
  color: darkgray;
}

a.grey:visited {
  color: darkgray;
}

.rightcredit {
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: inline;
  text-align: right;
  text-transform: lowercase;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
}

input[type=submit] {
  margin: 0;
  border: black .1em solid;
  border-radius: 5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
  background: black;
  color: white;
  text-transform: lowercase;
}

input[type=submit]:hover {
  border: blue .1em solid;
  background: blue;
  color: white;
}

input[type=text] {
  margin: 0;
  border: black .1em solid;
  border-radius: 5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
  background: white;
  width: 10em;
}

@media screen and (max-width: 700px) {
  .textbox {
    width: 98%;
  }

  .homebox {
    width: 98%;
  }
}
